<% flash.each do |key, message| %>
      <div class="alert alert-<%= key %>"><%= message %></div>
<% end %>
<%= form_with url: login_path, local: true do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.submit 'ログイン' %>
  </div>
<% end %>