<h2>他人のアカウント情報</h2>
 <% flash.each do |key, message| %>
        <div class="alert alert-<%= key %>"><%= message %></div>
      <% end %>
<%= image_tag @user.avatar.url || 'user.png', width: "150px", height: "150px"%>
アカウント名: <%=@user.name%>
<br>
Eメール:<%=@user.email%>

<p>物語数：<%=@count%></p>
<%= link_to '物語情報', mystory_path, class: 'btn btn-secondary' %>
<h2>日々の物語数</h2>
<%= line_chart current_user.stories.group_by_day(:created_at, format: "%m/%d").count %>
<h2>週の物語数</h2>
<%= bar_chart current_user.stories.group_by_week(:created_at).count.map { |k, v| [k, v.to_i] }.to_h %>
