<header>
 <nav class='navbar navbar-expand-lg navbar-light bg-light'>
    <%= link_to 'StoryShare',root_path, class: 'navbar-brand', style: 'color: #0dcaf0;' %>
    <button class='navbar-toggler' data-bs-toggle='collapse' data-bs-target='#navbarContent'
      aria-controls='navbarContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <%= search_form_for @q, url: search_stories_path, method: :get, class: 'd-flex ms-auto' do |f| %>
      <%= f.text_field :name_cont, class: 'form-control me-2', placeholder: '物語名で検索', aria: { label: 'Search' } %>
      <%= f.submit '検索', class: 'btn btn-outline-success' %>
    <% end %>
      <ul class='navbar-nav ms-auto'>
        <li class='nav-item'>
          <%= link_to 'プロフィール', my_path, class: 'nav-link' %>
        </li>
        <li class='nav-item'>
          <%= link_to '物語', stories_path, class: 'nav-link' %>
        </li>
        <li class='nav-item'>
        <%= link_to 'お気に入り', bookmarks_stories_path, class: 'nav-link' %>
        </li>
        <li class='nav-item'>
          <%= link_to "ログアウト", logout_path, class: 'nav-link', method: :delete, data: { turbo_method: :delete }  %>
        </li>
      </ul>
    </div>
  </nav>
</header>