<h2>アカウント情報</h2>
 <% flash.each do |key, message| %>
        <div class="alert alert-<%= key %>"><%= message %></div>
      <% end %>
<%= image_tag @user.avatar.url || 'user.png', width: "150px", height: "150px"%>
アカウント名: <%=@user.name%>
<br>
Eメール:<%=@user.email%>
<br>
アカウント役割：<%= current_user.role %>
<br>
<% if current_user.role == "general"%>
  <%= link_to 'アカウント情報変更', myedit_path, class: 'btn btn-secondary' %>
<%elsif current_user.email == "guest@example.com"%>
  <p>このアカウントはアカウント情報を変更できません</p>
<% else %>
  <p>このアカウントはアカウント情報を変更できません</p>
<% end %>
<p>物語数：<%=@count%></p>
<%= link_to '物語情報', mystory_path(@user.id), class: 'btn btn-secondary' %>
<h2>日々の物語数</h2>
<%= line_chart current_user.stories.group_by_day(:created_at, format: "%m/%d").count %>
<h2>週の物語数</h2>
<%= bar_chart current_user.stories.group_by_week(:created_at).count.map { |k, v| [k, v.to_i] }.to_h %>