<h2>アカウント情報</h2>
<%= image_tag @user.avatar.url || 'user.png', width: "150px", height: "150px"%>
アカウント名: <%=@user.name%>
<br>
Eメール:<%=@user.email%>
<br>
<%= link_to 'アカウント情報変更', myedit_path, class: 'btn btn-secondary' %>
<p>物語数：<%=@count%></p>
<%= link_to '物語情報', mystory_path, class: 'btn btn-secondary' %>
<h3>レベル</h3>
<p>レベル<%= @level %>Lv</p>
<p>あと物語数<%= @next_level %>でレベルup</p>