 <p>テーマ決め</p>
  <div class="container">
  <div class="row">
    <div class="col-md-7"> <!-- ここで幅を調整 -->
      <div class="mb-3">
        <%= f.label :theme, class: "form-label" %>
        <%= f.text_area :theme, class: "form-control", rows: 9 %>
      </div>
      <div class="mb-3">
        <%= f.label :motif, class: "form-label" %>
        <%= f.text_area :motif, class: "form-control", rows: 9 %>
      </div>
      <div class="mb-3">
        <%= f.label :memo, class: "form-label" %>
        <%= f.text_area :memo, class: "form-control", rows: 9 %>
      </div>
    </div>
  </div>