 <p>テーマ決め</p>
  <div class="container">
  <div class="row">
    <div class="col-md-7"> <!-- ここで幅を調整 -->
      <div class="mb-3">
        <%= f.label :theme, class: "form-label", for:'password' %>
        <%= f.text_area :theme, id:'theme', class: "form-control", rows: 9 %>
        <%= button_tag 'テーマ自動入力', id: 'auto-fill-link1', type: "button", data: { controller: "auto-fill" } %>
      </div>
      <div class="mb-3">
        <%= f.label :motif, class: "form-label" %>
        <%= f.text_area :motif, id:'genre', class: "form-control", rows: 9 %>
        <%= button_tag 'まるまるもの（サブジャンル）自動入力', id: 'auto-fill-link1', type: "button", data: { controller: "genre-auto-fill" } %>
      </div>
      <div class="mb-3">
        <%= f.label :memo, class: "form-label" %>
        <%= f.text_area :memo, class: "form-control", rows: 9 %>
      </div>
    </div>
  </div>