<% @stories.each do |story|%>
   <li><%= link_to story.name, sho_story_story_path(story) %></li>
    <%= story.category %>
    <%= link_to story_path(story), data: { turbo_method: :delete,turbo_confirm: 'Are you sure?' }, class: "delete-link" do %>
        <i class="bi bi-trash"></i>
    <% end %>
    <%= link_to edit_story_path(story), id: 'button-edit-#{board.id}' do %>
        <i class="bi bi-pencil-fill"></i>
    <% end %>
    <%= story.views %>
<% end %>