<% if current_user == story.user %>
  <%= image_tag 'sample.jpg', class: 'sample-image' %>
  <%= link_to story.name, sho_story_story_path(story), class: 'story-link' %>
  <span class="story-category"><%= story.category %></span>
  <%= link_to story_path(story), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "delete-link" do %>
    <i class="bi bi-trash"></i>
  <% end %>
  <%= link_to edit_story_path(story), id: "button-edit-#{story.id}" do %>
    <i class="bi bi-pencil-fill"></i>
  <% end %>
  <%= render 'stories/bookmark_buttons', { story: story } %>
  <p>閲覧数:<%= story.views %>view</p>
<% else %>
<%= image_tag 'sample.jpg', class: 'sample-image' %>
  <%= link_to story.name, sho_story_story_path(story), class: 'story-link' %>
  <span class="story-category"><%= story.category %></span>
  <%= render 'stories/bookmark_buttons', { story: story } %>
    <%= link_to edit_story_path(story), id: "button-edit-#{story.id}" do %>
        <i class="bi bi-pencil-fill"></i>
    <% end %>
  <p>閲覧数:<%= story.views %>view</p>
<% end %>