  <% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>
  <p>基本設定</p>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :category %>
    <%= f.select :category, Story.categories.keys.map { |k| [k.humanize, k] } %>
  </div>