<p>世界観</p>
  <div>
    <%= f.label :place %>
    <%= f.text_field :place%>
  </div>
  <div>
    <%= f.label :era %>
    <%= f.text_field :era %>
  </div>
  <div>
    <%= f.label :character %>
    <%= f.text_field :character %>
  </div>