<p>世界観</p>
 <div class="container">
  <div class="row">
    <div class="col-md-7"> <!-- ここで幅を調整 -->
      <div class="mb-3">
        <%= f.label :place, class: "form-label" %>
        <%= f.text_area :place, class: "form-control", rows: 9 %>
      </div>
      <div class="mb-3">
        <%= f.label :era, class: "form-label" %>
        <%= f.text_area :era, class: "form-control", rows: 9 %>
      </div>
      <div class="mb-3">
        <%= f.label :character, class: "form-label" %>
        <%= f.text_area :character, class: "form-control", rows: 9 %>
      </div>
    </div>
  </div>
</div>