<% if flash.now[:alert] %>
  <div class="alert alert-danger"><%= flash.now[:alert] %></div>
<% end %>
<%= form_with(model: @story, local: true) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :category %>
    <%= f.select :category, Story.categories.keys.map { |k| [k.humanize, k] } %>
  </div>

  <div>
    <%= f.submit "次へ", name: "commit" %>
    <%= f.submit "下書き保存", name: "commit" %>
  </div>
<% end %>