<%= form_with(model: [@story, @story.plans.build], local: true, url: plan_story_path ) do |f| %>

  <div>
    <%= f.label :theme %>
    <%= f.text_field :theme%>
  </div>
  <div>
    <%= f.label :motif %>
    <%= f.text_field :motif %>
  </div>
  <div>
    <%= f.label :memo %>
    <%= f.text_field :memo %>
  </div>
  <div>
    <%= f.submit "次へ" %>
  </div>
<% end %>