<% assign_meta_tags title: @story.name, image: @story.cover , description: @story.summary%>

<button id = "download" data-controller="file">ファイル形式ダウンロード</button>

<h1>基本情報</h1>
<strong>著者:</strong>
<p id="username"><%= @story.user.name %></p>
<p id="name"><strong>作品名:</strong> <%= @story.name %></p>
<p id="summay"><strong>副題:</strong> <%= @story.summary %></p>
<p id="category"><strong>ジャンル:</strong> <%= @story.category %></p>
<p><strong>公開設定:</strong> <%= @story.published? ? '公開' : '非公開' %></p>
<p>閲覧数: <%= @story.views %> view</p>

<h1>テーマ決め</h1>
<p id="theme"><strong>テーマ:</strong> <%= @story.theme %></p>
<p id="motif"><strong>モチーフ:</strong> <%= @story.motif %></p>
<p id="memo"><strong>メモ:</strong> <%= @story.memo %></p>
<h1>世界観</h1>
<p id="place"><strong>場所:</strong> <%= @story.place %></p>
<p id="era"><strong>時代:</strong> <%= @story.era %></p>
<p id="character"><strong>キャラクター:</strong> <%= @story.character %></p>

<p id="body" hidden><%= @story.body %></p>

<%= link_to "本文を読む", sho_text_story_path(@story) ,class:"text-button"%>